@page
@model RecyclePoints.Pages.Accounts.RegisterModel

    <h1>Aanmelden</h1>
    <form method="post">
        Gebruikersnaam:<br />
        <input type="text" id="Username" name="Username" value="" /><br />
        Wachtwoord: <br />
        <input type="password" id="Password" name="Password" value="" /><br />
        <input type="submit" value="Aanmelden">
    </form>
